<aside class="sidebar">
  <img src="images/ISI-removebg-preview.png" alt="ISI" class="sidebar-logo" />

  <nav class="sidebar-nav">
    <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">Menu</a>
    <a routerLink="/sueldo-fijo" routerLinkActive="active" class="nav-item">Sueldo Fijo</a>
    <a routerLink="/sueldo-variable" routerLinkActive="active" class="nav-item">Sueldo Variable</a>
    <a routerLink="/ingreso-extra" routerLinkActive="active" class="nav-item">Ingreso extra</a>
    <a routerLink="/fondo-emergencia" routerLinkActive="active" class="nav-item">Fondo de emergencia</a>
  </nav>
</aside>