:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.dashboard-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 0.85rem;
  padding: 15px 0 5px 0;
  font-family: 'Open Sans', sans-serif;
}

.footer-links a {
  color: #ffffff;
  text-decoration: underline;
}